.container {
    width: 100vw;
    height: 80px; 
    background: #FFFFFFFF; /* white */
    border-radius: 0px; 
    box-shadow: 0px 0px 1px #171a1f26, 0px 0px 2px #171a1f33; /* shadow-xs */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 154px; 
    height: 49px;
}

.textbox input {
    width: 374px; 
    height: 44px; 
    padding-left: 44px; 
    padding-right: 16px; 
    font-family: Manrope; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    background: #F3F4F6FF; /* neutral-200 */
    border-radius: 12px; /* border-xl */
    border-width: 0px; 
    outline: none; 
    color: black;
}

.header-menu {
    top: 6px; 
    left: 636px; 
    display: flex; 
    align-items: center; 
    font-family: Manrope; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    opacity: 1; 
  }

  .header-menu .header-menu-item {
    padding: 23px 24px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #565E6CFF; /* neutral-600 */
    border-radius: 0px; 
    cursor: pointer; 
    white-space: nowrap; 
  }

  /* Button 73 */
.button {
    top: 18px; 
    left: 1148px; 
    height: 44px; 
    padding: 0 16px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Manrope; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #F44B87FF; /* primary-500 */
    background: #FEF0F5FF; /* primary-100 */
    opacity: 1; 
    border: none; 
    border-radius: 12px; /* border-xl */
    gap: 6px; 
  }

  .avatar {
    top: 18px; 
    left: 1348px; 
    width: 44px; 
    height: 44px; 
    background: #FBC8DAFF; /* primary-200 */
    opacity: 1; 
    overflow: hidden; 
    border-radius: 22px; 
  }
  .avatar img {
    width: 44px; 
    height: 44px; 
  }